@import url('https://fonts.googleapis.com/css2?family=Nebulica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.main-container {
  height: 100vh;
  background-color: black;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Align title to the left and Spline to the right */
}

.title-container {
  position: absolute;
  top: 7%;
  left: 10%;
  margin-top: 5%; /* Added margin to create space above the titles */
  z-index: 1;
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  color: white;
  text-align: left;
  margin: 0;
  margin-left: 20px;
}

.subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; /* Smaller font size */
  color: white;
  font-weight: 200; /* Lighter font weight */
  margin-top: 20px; /* Increased space above the subheading */
  margin-left: 20px; /* Align with title */
  max-width: 600px; /* Set maximum width for the subheading */
}

/* Style for the Spline component */
.spline-container {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}